<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<body>

<!--start: MENU -->
<%- include('menu') -%>
<!--end: MENU -->
<!-- start: content -->
<div class="container text-center" style="margin-top: 60px">
	<div class="row">
		<div class="col-md-push-6 col-md-12 col-xs-12">
			<h2><%= user.name %> task list</h2>
			<table class="table table-stripped">
				<thead>
				<tr>
					<th>Task name</th>
					<th>Priority</th>
					<th>Category</th>
					<th>Time</th>
					<th>Operations</th>
				</tr>
				</thead>
				<tbody>
                <% tasks.forEach(function(egyTask){ %>
                    <tr>
                        <td>
                            <%= egyTask.name %>
                        </td>
                        <td>
                            <%= egyTask.priority %>
                        </td>
                        <td>
                            <%= egyTask.category %>
                        </td>
                        <td>
                            <%= egyTask.time %>
                        </td>
                        <td class="text-right">
                            <a href="#" class="btn btn-sm btn-success">Take On</a>
                            <a href="edit/<%= egyTask._id %>" class="btn btn-sm btn-primary">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                <% }); %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- end: content -->

<script src="js/bootstrap.js"></script>
</body>
</html>